body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

header {
    background-color: #622582; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0;
}

header h1 {
    font-size: 2em; 
}

main {
    width: 100%;
    min-height: calc(100vh - 120px); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.personal-info {
    display: grid;
    grid-template-columns: 35% 65%; 
    align-items: center; 
    padding: 20px;
}

.photo {
    max-width: 80%; 
    height: auto;
    border-radius: 15px; 
    margin-right: 40px;
    margin-left: 30px;
}

.text-info {
    font-size: 20px; 
    padding: 20px; 
    word-spacing: 5px;
}

.text-info li {
    margin: 10px 0;
}

footer {
    background-color: #622582; 
    color: #fff; 
    text-align: center; 
    padding: 10px 0; 
}

.logo {
    width: 80px; 
    height: auto; 
}

.text-info h2 span {
    font-weight: bold; 
}

.text-info h2 span:not(.bold) {
    font-weight: normal; 
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .personal-info {
        grid-template-columns: 100%; 
        padding: 20px 10px; 
    }

    .photo {
        margin: 0 auto; 
        margin-bottom: 20px; 
    }

    .text-info {
        font-size: 16px; 
        max-width: 90%; 
        margin: 0 auto; 
        text-align: left; 
    }
}

